body {
    background-image: radial-gradient(ellipse at center, #19882c 10%, #025310 90%);
}

#div_boby {
    display: flex;
    width: 100%;
    max-width: 1000px;
    place-items: center;
}

main {
    height: 100%;
    width: 100vw;
    max-width: 780px;
    display: contents;
    place-items: center;
}

#frequency_html {
    margin-bottom: 10px;
    display: flex;
    height: 40px;
    width: 100vw;
    max-width: 74%;
}

#frequency {
    place-items: center;
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-inline: auto;
    background-color: white;
    height: 100vh;
    max-height: 80%;
    width: 100vw;
    max-width: 740px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgray;
}

#frequency::-webkit-scrollbar {
    width: 5px;
    height: 5px;

}

#frequency::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
    border-radius: 10px;
}

#frequency::-webkit-scrollbar-corner {
    border-radius: 10px;
}

#frequency::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}

/*@media only screen and (max-width: 739px) {
    #frequency {
        
    }
}*/