body {
    background-image: radial-gradient(ellipse at center, #19882c 10%, #025310 90%);
}

main {
    max-height: 80%;
    padding: 0px;
}

#register_div {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgray;
}

#register_div::-webkit-scrollbar {
    width: 5px;
    height: 5px;

}

#register_div::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
    border-radius: 10px;
}

#register_div::-webkit-scrollbar-corner {
    border-radius: 10px;
}

#register_div::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}